.publications__btndelete {
  min-width: 18px;
  height: 19px;
  border: none;
  cursor: pointer;
  background: url("../../../images/basket.svg") center no-repeat;
  background-size: contain;
  position: absolute;
  top: 20px;
  right: 20px;
  }

  .publications__btndelete:hover {
  opacity: 0.5;
  transition: opacity 0.3s linear;
  }
