.profile__avatar-image {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  box-sizing: border-box;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.profile__avatar-image:hover {
  transition: opacity .3s;
  opacity: .2;
}