.profile__btn_type_edit {
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  background: url("../../../../images/editbtn.svg") 50% no-repeat;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .profile__btn_type_edit {
    width: 18px;
    height: 18px;
  }
}
