.page__container {
  max-width: 880px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width:1024px)  {
  .page__container {
    max-width: calc(100% - 144px);
  }
}

@media screen and (max-width: 768px) {
  .page__container {
    max-width: calc(100% - 72px);
  }
}
@media screen and (max-width: 425px) {
  .page__container {
    max-width: calc(100% - 38px);
  }
}

@media screen and (max-width: 320px) {
  .page__container {
    max-width: 100%;
  }
}
